.personnel-headers {
    background-color: #e76f51;
    color: #264653;
}

.personnel-info {
    background-color: #264653;
    color: #e9c46a;
}

.personnel-info .input-group-text {
    width: 2.67rem;
}

@media only screen and (max-width: 768px) {
    .personnel-info {
        background-color: #e9c46a;
    }

    .personnel-data {
        background-color: #264653;
        color: #e9c46a;
    }

    #search-personnel-form.form-inline {
        flex-flow: row nowrap;
    }
}

.main-content {
    padding-top: 3.65rem;
}

#navbar.navbar {
    background-color: #2a9d8f;
}