/* body.modal-open {
    overflow: auto!important;
    padding: 0px!important;
} */

body {
    background-color: #264653;
}

.header-panel {
    background-color: #264653;
    color: #e9c46a;
}

.info-panel {
    background-color: #264653;
    color: #e9c46a;
}

.info-panel .input-group-text {
    width: 2.67rem;
}

.main-content {
    padding-top: 7.1rem;
    background-color: #264653;
}

#navbar.navbar {
    background-color: #2a9d8f;
}

#header.fixed-top {
    top: 3.9rem;
}

#locationFilter {
    width: 90px;
}

#personModal .modal-content {
    background-color: transparent;
    border: none;
}

#personModal .row div:first-child {
    border: 3px solid #e9c46a;
    border-bottom: 0;
}

#personModal .row div:last-child {
    border: 3px solid #e9c46a;
    border-top: 0;
}

#personModal .row div:not(:first-child):not(:last-child) {
    border: 3px solid #e9c46a;
    border-top: 0;
    border-bottom: 0;
}

.data-panel-one {
    background-color: #264653;
    color: #e9c46a;
}

#personModal .modal-footer {
    border: 0;
    padding: 0;
    justify-content: center;
}

@media only screen and (max-width: 767px) {
    .info-panel {
        background-color: #e9c46a;
    }

    .data-panel {
        background-color: #264653;
        color: #e9c46a;
    }

    #search-personnel-form.form-inline {
        flex-flow: row nowrap;
    }

    .main-content {
        padding-top: 3.65rem;
        background-color: #e9c46a;
    }
}

@media only screen and (max-width: 578px) {
    .navbar-brand {
        display: none;
    }
    #navbar.navbar {
        padding-bottom: 0.85rem;
    }
}

@media only screen and (max-width: 767px) {
    body {
        background-color: #e9c46a;
    }
}